body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: rgb(50, 174, 205);
    height: 100vh;
    position: relative;
    overFlow: hidden;
}

#player {
    background-color: orange;
    position: absolute;
}

.obstacle {
    background-color: rgb(242, 12, 12);
    position: absolute;
    
}

#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}